@font-face {
    font-family: handwriting;
    src: url(./Assets/Fonts/d65011811318cf4e-s.p.ttf);
}

@font-face {
    font-family: handwriting-1;
    src: url(./Assets/Fonts/5d1da943bd8329eb-s.p.ttf);
}

@font-face {
    font-family: handwriting-2;
    src: url(./Assets/Fonts/1d259d87df01aa93-s.p.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    /* display: flex;
    flex-direction: column; */
    height: 100vh;
    /* width: 100vw; */
    background-color: #910c0c;
    background-image: url(./Assets/Images/writing-3.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.error-div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: firebrick; */
    height: 100vh;
    color: 1;
    font-family: handwriting-1;
}

.error-div > h1{
    color: white;
    font-size: 40px;
}

.log-in-page-container{
    display:flex;
    /* background-color:red; */
    height:100vh;
}

.banner{
    position:relative;
    height:100%;
    flex:1.1;
    object-fit:contain;
}

.banner-img{
    object-fit:cover;
    height:100%;
    width:100%;
}

.banner-btns{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* font-size: 20px; */
    gap: 8px;
    top:50%;
    right:0;
    translate:0 -50%;
    width: 100%;
    /* border:1px solid red; */
}

.log-sign-btn{
    /* height: 60px; */
    width: 30%;
    outline: none;
    border: 1px solid black;
    background-color: #F99172;
    color: #262135;
    border-radius: 100px 0 0 100px;
    margin: 0;
    padding: 1em;
    transition: all .2s ease;
    font-size: clamp(1.125rem, 0.5161rem + 1.2685vw, 2.625rem);
}

.active{
    background-color: black;
    color: white;
    width: calc(30% + 30px);
}

.log-sign-btn:hover{
    /* background-color: #262135;
    color: #F99172; */
    width: calc(30% + 30px);
}

.log-in-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#000000;
    /* border: 1px solid red; */
    height:100%;
    flex:1;
}

.logo-div{
    position: absolute;
    top: 2%;
    left: 4%;
    /* border: 1px solid red; */
}

.logo{
    width: clamp(3.125rem, 2.0823rem + 5.2137vw, 10.75rem);
    /* height: 10px; */
}

.sign-up-form{
    font-family: handwriting;
    display: flex;
    flex-direction: column;
    gap: .4em;
    width: 53%;
    font-size: clamp(1.625rem, -0.0494rem + 3.4884vw, 5.75rem);
    /* border: 1px solid rgb(0, 0, 0); */
}
.sign-up-form{
display: flex;
flex-direction: column;
}

.sign-up-form > h2,p{
    text-wrap: balance;
    text-align: center;
}

.sign-up-form > h2{
    color: white;
    font-weight: 700;
}

.sign-up-form >p{
    font-size: clamp(1.375rem, 0.9437rem + 0.8985vw, 2.4375rem);
    color: rgb(122, 121, 121);
}

.sign-up-form label{
    color: white;
    margin-top: .1em;
    /* font-size: 18px; */
    font-weight: 700;
}

.sign-up-form input{
    background-color: transparent;
    font-size: clamp(1rem, 0.1374rem + 1.797vw, 3.125rem);
    padding: .4em 1em;
    outline: none;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 4px;
    color: white;
    transition: all .2s ease;
}

.sign-up-form > input:hover{
    box-shadow: 0 0 10px 1px rgb(197, 176, 59);
}

.sign-up-form > input:focus{
    animation: pulse .7s linear infinite alternate;
}

input::placeholder{
    font-family: handwriting-1;
    color: rgb(182, 179, 179);
}

.sign-btn{
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    font-size: clamp(1rem, 0.1374rem + 1.797vw, 3.125rem);
    padding: .4em 1em;
    transition: scale .2s ease;
}

.sign-btn:active{
    scale: 0.99;
}

.sign-btn:hover{
    background-color: rgb(233, 230, 230);
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    font-size: clamp(1rem, 0.1374rem + 1.797vw, 3.125rem);
    padding: .4em 1em;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    /* height: 100px; */
    top: 0;
    padding: .7em 2em 0 2em;
    /* background-color: rgba(255, 0, 0, 0.507); */
}

.intro-logo{
    width: clamp(3.75rem, 2.6389rem + 5.5556vw, 11.875rem);
    border-radius: 50%;
}

.log-out-btn{
    /* position: absolute;
    top: 2%;
    right: 2%; */
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    border: 1px solid white;
    font-size: clamp(0.875rem, 0.5673rem + 1.5385vw, 3.125rem);
    height: max-content;
    transition: all .2s ease;
}

.log-out-btn:hover{
    background-color: rgba(255, 255, 255, 0.811);
    color: black;
    border: 1px solid black;
}

.idle-timer{
    position: absolute;
    top: 2%;
    left: 50%;
    translate: -50% 0;
    color: #000;
    font-size: clamp(1.75rem, 1.4423rem + 1.5385vw, 4rem);    z-index: 100;
}

.writing-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    background-color: hsla(0, 6%, 94%, 0.706);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.856);
    backdrop-filter: blur(5px);
    padding: .6em;
   
    /* border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: black; */
    border-radius: 0 0 1em 1em;
    font-family: handwriting-1;
    font-size: clamp(0.8125rem, 0.5304rem + 1.4103vw, 2.875rem);
    /* background-color: lavender; */
}


.writing-header > ul{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    gap: .5em;
    /* height: max-content; */
    /* background-color: red; */
    color: black;
    list-style: none;
    /* font-size: 26px; */
}

.wotd-div{
    /* position: absolute; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: .6em;
    /* background-color: red; */
    /* right: 3%;
    top: 50%;
    translate: 0 -50%; */
    /* font-size: 26px; */
}


a{
    text-decoration: none;
}

.text-area-container{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    /* border: 3px solid black; */
}

textarea{
    font-family: handwriting;
    display: flex;
    /* border: 3px ridge firebrick; */
    color: black;
    resize: none;
    outline: none;
    letter-spacing: 1px;

    font-size: clamp(1.6875rem, 1.1918rem + 2.4786vw, 5.3125rem);
    line-height: 1.5rem;
    height: 100%;
    width: 100%;
    padding: .4em .3em;
    border-radius: 16px;
    /* background-color: rgb(252, 236, 208); */
    background-image: url(./Assets/Images/page.avif);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.856);
    /* overflow: hidden; */
}

.text-area-div{
    position: relative;
    display: flex;
    flex-direction: column;
    /* border:1px solid red; */
    height: 100%;
    padding:0 1em 1em 1em;
}

.blur{
    /* background-color: rgba(255, 0, 0, 0.158); */
    inset: 0;
    position: absolute;
    z-index: 10;
    backdrop-filter: blur(0);
    pointer-events: none;
    transition: all 1s ease;
}

/* Death Effect */
/* 
.text-area-div::before{
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: 
              radial-gradient(circle at top left, rgba(255, 0, 0, 0.5), transparent 10%),
              radial-gradient(circle at top right, rgba(255, 0, 0, 0.5), transparent 10%),
              radial-gradient(circle at bottom left, rgba(255, 0, 0, 0.5), transparent 10%),
              radial-gradient(circle at bottom right, rgba(255, 0, 0, 0.5), transparent 10%);
              backdrop-filter: blur(1px);
    pointer-events: none;
} */

.progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    background-color: black;
    transition: all 1s ease;
}

.copy-btn{
    position: absolute;
    bottom: 3%;
    right: 2%;
    outline: none;
    border: 1px solid grey;
    border-radius: 50px;
    padding: .2em .8em;
    font-weight: 700;
    font-size: clamp(0.75rem, 0.4936rem + 1.2821vw, 2.625rem);
    background-color: gainsboro;
    transition: all .2s ease;
    letter-spacing: 2px;
    /* height: 100px;
    width: 100px; */
}

.copy-btn:hover{
    background-color: rgb(37, 37, 37);
    color: rgb(216, 216, 216);
}

.copy-btn:active{
    scale: 0.9;
}

.start-btn{
    outline: none;
    border: none;
    padding: .5em 1em;
    margin-top: .7em;
    border-radius: 1em;
    color: #eee;
    font-size: clamp(1rem, 0.7778rem + 1.1111vw, 2.625rem);
    box-shadow: 0 0 10px 2px #D5C1A6a9;
    /* background-color: #020202; */
    background-image: linear-gradient(to top right, #230200, #020202,#230200);
    transition: all .1s ease;
}

.start-btn:hover{
    scale: 1.04;
    box-shadow: 0 0 10px 2px #230200a1;
}

.start-btn:active{
    scale: 0.95;
}

.intro-div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    height: 100%;
    color: #EBD4CB;
    text-shadow: 2px 2px 0 black;
    /* overflow: hidden; */
    /* border: 1px solid red; */
    font-family: handwriting-1;
}

.intro-info-div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .7em;
    font-size: clamp(1.1875rem, 0.8371rem + 1.7521vw, 3.75rem);
    padding: 2em;
    /* flex: 1; */
    height: max-content;
    width: max-content;
    background-image: url(./Assets/Images/scribble-10.png);
    background-position: center 25%;
    background-size: contain;
    background-repeat: no-repeat;
}

.marquee{
    position: absolute;
    display: flex;
    gap: 1em;
    bottom: 2%;
    background-color: #000;
    text-shadow: 1px 1px 0 black;
    /* word-wrap: break-word; */
    /* white-space: pre-wrap; */
    font-size: clamp(1.375rem, 0.8964rem + 2.3932vw, 4.875rem);
    padding: .1em;
    overflow: hidden;
    width: 100%;
    transition: all .4s ease;
}

.marquee > span{
    /* background-color: #fff; */
    color: wheat;
    display: inline-block;
    padding: 0 .3em;
    white-space: nowrap;
    /* transition: all .2s ease; */
    animation: scroll 20s linear infinite;
}

.marquee:hover{
    background-color: wheat;
}

.marquee:hover > span{
color: black;
/* background-color: white; */
}

.timer-div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.timer-div > p{
    font-size: clamp(1.375rem, 1.1528rem + 1.1111vw, 3rem);
}

.timer-modal{
    position: relative;
   /* border: 2px solid red; */
}

.timer-modal > div{
    position: absolute;
    display: flex;
    gap: .6em;
    font-size: clamp(0.8125rem, 0.5219rem + 1.453vw, 2.9375rem);
    top: 0%;
    left: 50%;
    translate: -50% calc(-100% - 1em);
    width: max-content;
background-color: black;
padding: .2em .4em;
border-radius: 10px;
color: rgb(206, 202, 202);
text-decoration: underline;
}

.timer-modal > div::before{
    content: "";
    position: absolute;
    top: 99%;
    left: 50%;
    height: 1em;
    width: 1em;
    background: repeating-linear-gradient(
        to bottom,
        transparent 0%,
        transparent 50%,
        #000000 50%,
        #000000 100%
      );
      clip-path: polygon(50% 100%, 0 0, 100% 0);
    translate: -50% 0;
    background-color: black;
}

.timer-modal > div > span{
    cursor: pointer;
}

.timer-modal > p{
/* background-color: blue; */
text-decoration: underline;
cursor: pointer;
transition: all .4s ease;
}

.timer-modal:hover > p{
animation: hop 1s ease infinite;
}

button{
    cursor: pointer;
    padding: 6px 16px;
    font-family: handwriting-2;
}

@keyframes scroll{
    from{
        translate: 0;
    }
    to{
        translate: calc(-100% - 1em);
    }
}

@keyframes hop{
    0%{
        translate: 0;
    }
    50%{
        translate: 0 -10%;
    }
    100%{
        translate: 0 0;
    }
}

@keyframes pulse{
    from {
        box-shadow: 0 0 10px 1px rgb(197, 176, 59);
    }

    to{
        box-shadow: 0 0 1px 1px rgb(197, 176, 59);
    }
}

@media all and (max-width:768px) {
.banner-btns{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: 20px; */
    gap: 8px;
    top:50%;
    left:50%;
    translate:-50% -50%;
    width: 100%;
    /* border:1px solid red; */
}

.log-sign-btn{
    /* height: 60px; */
    width: 70%;
    outline: none;
    border: 1px solid black;
    background-color: #F99172;
    color: #262135;
    border-radius: 20px;
    margin: 0;
    padding: 1em;
    transition: all .2s ease;
    font-size: 20px;
}

.active{
    background-color: black;
    color: white;
}

.log-sign-btn:hover{
    width: 70%;
    background-color: black;
    color: white;
}

    .idle-timer{
        display: none;
    }
}

