*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    /* display: flex;
    flex-direction: column; */
    height: 100vh;
    /* width: 100vw; */
    background-color: pink;
}

header{
    /* display: flex;
    justify-content: space-between;
    padding: 0 3.5rem;
    background-image: linear-gradient(to right, rgb(238, 148, 163),rgb(221, 192, 26));
    align-items: center;
    background-color: red;
    color: rgb(241, 241, 241); */
    /* padding: 24px; */
    /* height: 14%; */
    /* height: 80px; */
}

/* .cues{
    display: flex;
    gap: 1rem;
    color: black;
    font-size: 20px;
    font-weight: bold;
} */

.name{
    font-size: 32px;
    color: white;
    pointer-events: none;
}

a{
    text-decoration: none;
}

.text-area-div{
    /* position: relative; */
    display: flex;
    border:1px solid red;
    height: 86%;
}

textarea{
    display: flex;
    width: 60%;
    margin: 0 auto;
    /* border: 3px ridge firebrick; */
    color: white;
    resize: none;
    outline: none;
    font-size: 20px;
    line-height: 1.5rem;
    padding: 16px 8px;
    background-image: linear-gradient(to top right, black, green);
}

.intro-div{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    /* overflow: hidden; */
}

.intro-info-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 32px;
    flex: 1;
    background-color: rgb(139, 201, 170);
}

.intro-div > p{
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 22px;
    padding: 6px;
}

.timer-div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.timer-div > p{
    font-size: 16px;
}

.timer-modal{
    position: relative;
   border: 2px solid red;
}

.timer-modal > div{
    position: absolute;
    display: flex;
    gap: 10px;
    font-size: 14px;
    top: -100%;
    left: 50%;
    translate: -50% -50%;
    width: max-content;
background-color: black;
padding: 1em;
border-radius: 10px;
color: rgb(206, 202, 202);
text-decoration: underline;
}

.timer-modal > div::before{
    content: "";
    position: absolute;
    top: 99%;
    left: 50%;
    height: 1em;
    width: 1em;
    background: repeating-linear-gradient(
        to bottom,
        transparent 0%,
        transparent 50%,
        #000000 50%,
        #000000 100%
      );
      clip-path: polygon(50% 100%, 0 0, 100% 0);
    translate: -50% 0;
    background-color: black;
}

.timer-modal > div > span{
    cursor: pointer;
}

.timer-modal > p{
/* background-color: blue; */
text-decoration: underline;
cursor: pointer;
}

button{
    cursor: pointer;
    padding: 8px 16px;
}