*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    height: 100vh;
    /* width: 100vw; */
    background-color: pink;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 3.5rem;
    background-image: linear-gradient(to right, rgb(238, 148, 163),rgb(221, 192, 26));
    align-items: center;
    background-color: red;
    color: rgb(241, 241, 241);
    /* padding: 24px; */
    height: 13%;
    /* height: 80px; */
}

.cues{
    display: flex;
    gap: 1rem;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.name{
    font-size: 32px;
    color: white;
    pointer-events: none;
}

a{
    text-decoration: none;
}

.text-area-div{
    /* position: relative; */
    display: flex;
    border:1px solid red;
    height: 86%;
}

/* Styling Progress */

progress[value] {
    -webkit-appearance:none;
    -moz-appearance:none;        
    appearance: none;
  }

  progress[value]{
    position: absolute;
    bottom: 0;
    color: black;
    background-color: rgb(196, 13, 13);
    height: 1%;
    width: 99%;
    margin: 0 2px;
  }

  progress[value]::-webkit-progress-bar{
    border-radius: 10em;
    background-color: lightgray;
  }

  progress[value]::-webkit-progress-value{
    border-radius: 10em;
    background-color: firebrick;
  }

textarea{
    display: flex;
    width: 60%;
    margin: 0 auto;
    /* border: 3px ridge firebrick; */
    color: white;
    resize: none;
    outline: none;
    font-size: 20px;
    line-height: 1.5rem;
    padding: 16px 8px;
    background-image: linear-gradient(to top right, black, green);
}

.intro-div{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 85%;
    /* overflow: hidden; */
}

.intro-info-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 32px;
    flex: 1;
    background-color: rgb(139, 201, 170);
}

.intro-div > p{
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 32px;
    padding: 16px;
}

.timer-div{
    display: flex;
    align-items: center;
    gap: 10px;
}

button{
    cursor: pointer;
    padding: 8px 16px;

}